.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

/* Btn */
.btn {
    padding: 12px 27px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 40px;
    color: #000000;
    cursor: pointer;
}

.btn--pink {
    background: #F13C6E;
    color: #FFFFFF;
    border: 2px solid #F13C6E;
}

.btn--outline-pink {
    background: none;
    /* Accent */
    border: 2px solid #F13C6E;
}

.btn--outline-white {
    border: 2px solid #FFFFFF;
    background: none;
    color: #FFFFFF;
}

.btn--small {
    border-radius: 30px;
    padding: 9px 40px;
}

/* Nav top */
.nav-top {
    padding: 17px 0 16px;
}

.nav-top_list {
    width: max-content;
    margin: 0 auto;
}

.nav-top_list li {
    float: left;
    margin-right: 30px;
    line-height: 16px;
}

.nav-top_list li:last-child {
    margin-right: 0;
}

.nav-top--main {
    padding: 30px 0;
    font-size: 16px;
    color: #000000;
}

.nav-top--main .nav-top_list li {
    margin-right: 40px;
    line-height: 19px;
}

/* Header */
.header-top {
    border-bottom: 1px solid #EFEFEF;
}

.header-top_logo {
    float: left;
    padding: 20px 0;
}

.header-top_contacts {
    float: right;
}

.header-top_logo-text {
    vertical-align: bottom;
    line-height: 80px;
    display: inline-block;
    padding-left: 20px;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    /* Accent */
    color: #F13C6E;
}

.header-top_contacts {
    float: right;
    padding: 37px 0px;
}

.header-top_tel {
    font-size: 16px;
    line-height: 19px;
    margin-right: 40px;
}

/* Banner */
.banner {
    padding: 182px 0;
    background-image: url('img/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    color: #FFFFFF;
}

.banner-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}

.banner-subtitle {
    margin-bottom: 50px;
    max-width: 308px;
    line-height: 20px;
}

.gray-bg {
    background: #E5E5E5;
}

/* Products */
.wrap-products {
    padding: 80px 0 50px;
}

.wrap-products_title {
    margin-bottom: 38px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.products {
    font-size: 0;
}
.product {
    display: inline-block;
    width: calc(25% - 83px);
    margin-right: 30px;
    padding: 25px 30px;
    font-size: 14px;
    background-color: #FFFFFF;
    text-align: center;
}

.product:last-child {
    margin-right: 0;
}

.product img {
    margin-bottom: 20px;
    max-width: 125px;
}

.product-text {
    margin-bottom: 20px;
    line-height: 20px;
}

.product-price {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
}

.container_1 {
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 80px;
}

.card_1 {
    display: inline-block;
    width: calc(65% - 182px);
    height: 212px;
    background-color: #F13C6E;
    
}

.email {
    padding-left: 40px;
    border-radius: 30px;
    margin-left: 40px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
}

h3 {
    padding-top: 35px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.prize_1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-left: 40PX;
    padding-right: 269PX;
    margin-bottom: 25PX;
    color: #FFFFFF;
}

.prize_2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    PADDING-LEFT: 40PX;
    PADDING-RIGHT: 300PX;
    PADDING-BOTTOM: 25PX;
    color: #FFFFFF;
}

.card_2 {
    display: inline-block;
    width: calc(65% - 182px);
    height: 212px;
    margin-left: 30px;
    background-color: #F13C6E;
}

.button {
    color: #FFFFFF;
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    margin-left: 40px;
    cursor: pointer;
    padding-left: 29px;
    padding-right: 28px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.image_1 {
    float: right;
    transform: translate(-49px, -110px);
}

.image_2 {
    float: right;
    transform: translate(-34px, -87px);
}

.impuls-img_1 {
    display: inline-block;
    background: #FFFFFF;
    margin-left: -3px;
    border-right: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    padding: 35px 62px 35px 62px;
    cursor: pointer;
}

.impuls-img_2 {
    display: inline-block;
    background: #FFFFFF;
    margin-left: -3px;
    border-right: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    padding: 35px 62px 35px 62px;
    cursor: pointer;
}

.impuls-img_3 {
    display: inline-block;
    background: #FFFFFF;
    margin-left: -3px;
    border-bottom: 1px solid #EFEFEF;
    padding: 35px 62px 35px 62px;
    cursor: pointer;
}

.impuls-img_4 {
    display: inline-block;
    background: #FFFFFF;
    margin-left: -3px;
    border-left: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    padding: 35px 62px 35px 62px;
    cursor: pointer;
}

.impuls-img_5 {
    display: inline-block;
    background: #FFFFFF;
    margin-left: -3px;
    border-right: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    padding: 35px 62px 35px 62px;
    cursor: pointer;
}

.impuls-img_6 {
    display: inline-block;
    background: #FFFFFF;
    margin-left: -3px;
    border-right: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    padding: 35px 62px 35px 62px;
    cursor: pointer;
}

.impuls-img_7 {
    display: inline-block;
    background: #FFFFFF;
    margin-left: -3px;
    border-bottom: 1px solid #EFEFEF;
    padding: 35px 62px 35px 62px;
    cursor: pointer;
}

.impuls-img_8 {
    display: inline-block;
    background: #FFFFFF;
    margin-left: -3px;
    border-left: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    padding: 35px 62px 35px 62px;
    cursor: pointer;
}

.impuls-img_9 {
    display: inline-block;
    background: #FFFFFF;
    margin-left: -3px;
    border-right: 1px solid #EFEFEF;
    padding: 35px 62px 35px 62px;
    cursor: pointer;
}

.impuls-img_10 {
    display: inline-block;
    background: #FFFFFF;
    margin-left: -3px;
    border-right: 1px solid #EFEFEF;
    padding: 35px 62px 35px 62px;
    cursor: pointer;
}

.impuls-img_11 {
    display: inline-block;
    background: #FFFFFF;
    margin-left: -3px;
    padding: 35px 62px 35px 62px;
    cursor: pointer;
}

.impuls-img_12 {
    display: inline-block;
    background: #FFFFFF;
    margin-left: -3px;
    border-left: 1px solid #EFEFEF;
    padding: 35px 62px 35px 62px;
    cursor: pointer;
}

.container_2 {
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 20px;
}

.menu_1 {
    display: inline-block;
    padding-top: 60px;
    padding-right: 186px;
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140.62%;
    color: #000000;
}

.menu_2 {
    display: inline-block;
    padding-top: 60px;
    padding-right: 186px;
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140.62%;
    color: #000000;
}

.menu_3 {
    display: inline-block;
    padding-top: 60px;
    padding-right: 186px;
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140.62%;
    color: #000000;
}

.menu_4 {
    display: inline-block;
    padding-top: 60px;
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140.62%;
    color: #000000;  
}

ul> li {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    color: #828282;
}

.container_3 {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
}

.list_1 {
    padding-right: 203px;
}

.list_2 {
    padding-right: 203px;
}

.list_3 {
    padding-right: 203px;
}

ul {
    padding-top: 25px;
    margin-bottom: 60px;
}

hr {
    border: 1px solid #EFEFEF
}

.line {
    width: 25%;
}

.phone {
    padding-left: 497px;
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 51px;
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    translate: -4px -53px;
}

.btn_f {
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000; 
    background: #FFFFFF;
    border: 2px solid #F13C6E;
    cursor: pointer;
    border-radius: 40px;
    padding: 10px 26px 11px 25px;
    translate: -4px -53px;
}

.youtube {
    width: 45px;
    height: 45px;
    padding: 37px 20px 38px 0px;
}

.vk {
    width: 45px;
    height: 45px;
    padding: 38px 19px 37px 0px;
}

.facebook {
    width: 45px;
    height: 45px;
    padding: 38px 19px 37px 0px;
}

.instagram {
    width: 45px;
    height: 45px;
    padding: 38px 0px 37px 0px;
}

.info {
    display: inline-block;
    padding: 25px 0 25px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}

.privacy_policy {
    display: inline-block;
    padding: 25px 0 25px 332px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}

.gray-bg_1 {
    background: #E5E5E5;
}

.container_4 {
    max-width: 1110px;
    margin: 0 auto;
    max-height: 120px;
}
